{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block dash %}
<div class="card col-6">
    <div class="card-body register-card-body">
      <p class="login-box-msg">ثبت نام کاربر جدید</p>

      <form action="{% url 'account:register_user' %}" method="post">
          {% csrf_token %}
        <div class="input-group mb-3">
            {{ form.first_name }}
          <div class="input-group-append">
            <span class="fa fa-user input-group-text"></span>
          </div>
        </div>
        <div class="input-group mb-3">
          {{ form.last_name }}
          <div class="input-group-append">
            <span class="fa fa-envelope input-group-text"></span>
          </div>
        </div>
          
        <div class="input-group mb-3">
          {{ form.username }}
          <div class="input-group-append">
            <span class="fa fa-envelope input-group-text"></span>
          </div>
        </div>
          
        <div class="input-group mb-3">
          {{ form.phone_number }}
          <div class="input-group-append">
            <span class="fa fa-envelope input-group-text"></span>
          </div>
        </div>
        <div class="input-group mb-3">
            {{ form.password1 | as_crispy_field }}
        </div>
        <div class="input-group mb-3">
          {{ form.password2 | as_crispy_field }}
        </div>
        <div class="row">
          <!-- /.col -->
          <div class="col-4">
            <button type="submit" class="btn btn-success rounded btn-block btn-flat ">ثبت نام</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
        
    <!-- /.form-box -->
  </div>
{% endblock %}