{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block dash %}

    <div class="card row d-inline-block w-50">

        <div class="card-header">
            <span>شما درحال حذف کردن گزارش هستید</span>
            <a href="{% url 'reportcourier:dashboard_home' %}">
                <button class="bt btn-outline-warning rounded p-2 px-4 border-0 d-inline-block mr-5">لغو</button>
            </a>
        </div>
        <div class="card-body">
            <form method="post">{% csrf_token %}

                <div class="mb-3">
                    <span>آیا میخواهد گزارش<span class="m-3 bg-primary-gradient p-2 px-3 rounded">{{ object }}</span> را حذف کنید</span>
                </div>

                <div>
                    <input type="submit" value="حذف کردن" class="bt btn-danger rounded border-0 p-2 px-3">

                </div>

            </form>
        </div>

    </div>

{% endblock %}